#alert {
    border: 1px solid red;
    color: aliceblue;
    font-size: 16px;
    width: 400px;
    border-radius: 10px;
    text-align: center;
    height: 30px;
    background-color: rgba(223, 66, 66, 0.399);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 5px;
}

.alerta {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
}