.idea/

node_modules
package-lock.json
.env
/java/PROJETOS-JAVA-PARA-AULA-SENAC/SISTEMA-JAVA-COM-BANCO-DADOS - Copia/sistema_java_banco-alterar/build/
/java/PROJETOS-JAVA-PARA-AULA-SENAC/SISTEMA-JAVA-COM-BANCO-DADOS - Copia/sistema_java_banco-alterar/nbproject/private/
/java/PROJETOS-JAVA-PARA-AULA-SENAC/SISTEMA-JAVA-SEM-BANCO-DADOS/sistema_java_banco-alterar/build/
/java/PROJETOS-JAVA-PARA-AULA-SENAC/SISTEMA-JAVA-SEM-BANCO-DADOS/sistema_java_banco-alterar/nbproject/private/
/java/SISTEMA_JAVA_FINAL_11/DTS_SYSTEMS_JAVA_OFICIAL/nbproject/private/
/java/SISTEMA_JAVA_FINAL_11/DTS_SYSTEMS_JAVA_OFICIAL/build/

/login-clerk/clerk-javascript-quickstart/node_modules
